:root {
  --color: var(--dark-color);
  --color-sec: var(--dark-color-sec);
  --bg: var(--dark-bg);
  --primary: var(--dark-primary);
  --secondary: var(--dark-secondary);
  --secondary-transperent: var(--dark-secondary-transperent);
  --accent: var(--dark-accent);
}