:root {
  --color: var(--light-color);
  --color-sec: var(--light-color-sec);
  --bg: var(--light-bg);
  --primary: var(--light-primary);
  --secondary: var(--light-secondary);
  --secondary-transperent: var(--light-secondary-transperent);
  --accent: var(--light-accent);
}