@media (prefers-color-scheme: light) {
  :root {
    --color: var(--light-color);
    --color-sec: var(--light-color-sec);
    --bg: var(--light-bg);
    --primary: var(--light-primary);
    --secondary: var(--light-secondary);
    --accent: var(--light-accent);
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --color: var(--dark-color);
    --color-sec: var(--dark-color-sec);
    --bg: var(--dark-bg);
    --primary: var(--dark-primary);
    --secondary: var(--dark-secondary);
    --accent: var(--dark-accent);
  }
}