@media (prefers-color-scheme: light) {
  :root {
    --color: var(--light-color);
    --color-sec: var(--light-color-sec);
    --bg: var(--light-bg);
    --bg-50: var(--light-bg-50);
    --bg-100: var(--light-bg-100);
    --bg-200: var(--light-bg-200);
    --bg-300: var(--light-bg-300);
    --bg-400: var(--light-bg-400);
    --bg-500: var(--light-bg-500);
    --bg-600: var(--light-bg-600);
    --bg-700: var(--light-bg-700);
    --bg-800: var(--light-bg-800);
    --primary: var(--light-primary);
    --secondary: var(--light-secondary);
    --secondary-transperent: var(--light-secondary-transperent);
    --accent: var(--light-accent);
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --color: var(--dark-color);
    --color-sec: var(--dark-color-sec);
    --bg: var(--dark-bg);
    --bg-50: var(--dark-bg-50);
    --bg-100: var(--dark-bg-100);
    --bg-200: var(--dark-bg-200);
    --bg-300: var(--dark-bg-300);
    --bg-400: var(--dark-bg-400);
    --bg-500: var(--dark-bg-500);
    --bg-600: var(--dark-bg-600);
    --bg-700: var(--dark-bg-700);
    --bg-800: var(--dark-bg-800);
    --primary: var(--dark-primary);
    --secondary: var(--dark-secondary);
    --secondary-transperent: var(--dark-secondary-transperent);
    --accent: var(--dark-accent);
  }
}
