:root {
  font-family: "Noto Sans Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

body {
  margin: 0;
  padding: 0;
  --color: rgb(0, 0, 0);
  --bg: rgb(250, 255, 240);
  --bg-transperent: rgb(250, 255, 240, 0.4);
  --secondary: rgb(200, 255, 200);
  --tertiary: rgb(105, 255, 200);
  color: var(--color);
  background: var(--bg);
  font-size: 20px;
  overflow: hidden;
}
* {
  transition-duration: .1s;
}
.m-icon {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  user-select: none;
}

input, textarea, button, select, a {
  -webkit-tap-highlight-color: transparent;
  outline: none;
}
button, select {
  user-select: none;
}

button {
  --width: 46px;
  height: var(--width);
  width: var(--width);
  padding: 10px;
  border: none;
  background: var(--secondary);
  border-radius: 10px;
  cursor: pointer;
}
input {
  --width: 34px;
  height: var(--width);
  border: none;
  background: var(--secondary);
  border-radius: 10px;
  padding: 10px;
  font: inherit;
}
button.big {
  --width: 54px;
}
button:active {
  transform: scale(0.95) translateY(5px);
  background: var(--tertiary);
}
